.service-card{
    box-shadow: 0 3px 6px 0 rgba(18, 1, 1, 0.379);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

.service-shop .service-card-picture{
    background-image: url("../../assets/services/potslids.jpeg");
}
.service-personalized .service-card-picture{
    background-image: url("../../assets/services/handmade1.jpeg");
}
.service-workshop .service-card-picture{
    background-image: url("../../assets/services/cassidy-phillips-cXwoKtwRz00-unsplash.jpg");
}
.service-visit .service-card-picture{
    background-image: url("../../assets/services/firepots.jpeg");
}

.service-card-picture{
   width: 100%;
   height: 250px;
   background-position: center;
   background-size: cover;
}

.service-card-text h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 24px;
    color: #393838;
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
}
.service-card-text p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #555353;
    margin: 30px;
    text-align: center;
    line-height: 25px;
}