html,
body {
    display:flex; 
    flex-direction:column; 
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

section {
    padding: 90px 0;
}

.section-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: rgb(12, 12, 12);
}

.section-subtitle{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #393838;
    margin-top: 24px;
}

.card-item img{
    cursor: pointer;
    display:flex;
    width: 300px;
    height: 250px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(18, 1, 1, 0.379);
}

.button {
    position: relative;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    padding: 12px 24px;
    border: 0;
    text-align: center;
    border-radius: 4px;
    background-color: #726f6f;
    cursor: pointer;
    text-decoration: none;
    transition: all .1s ease-out 0s;
}

.breadcrumb-item {
    padding-top: 85px; 
}
.breadcrumb-item a {
    color: rgb(79, 77, 77);
    }